<div class="new-password-container">
  <h2>Set New Password</h2>
  <form (ngSubmit)="onSubmit()" #passForm="ngForm" autocomplete="off">
    <div class="input-group">
      <span class="input-icon" aria-label="New password"><i class="fa fa-lock fa-solid"></i></span>
      <input
        type="password"
        name="newPassword"
        [(ngModel)]="newPassword"
        required
        placeholder="New password"
        readonly
        onfocus="this.removeAttribute('readonly')"
      />
    </div>

    <div class="input-group">
      <span class="input-icon" aria-label="Confirm password"><i class="fa fa-lock fa-solid"></i></span>
      <input
        type="password"
        name="confirmPassword"
        [(ngModel)]="confirmPassword"
        required
        placeholder="Confirm password"
        readonly
        onfocus="this.removeAttribute('readonly')"
      />
    </div>

    <button type="submit" [disabled]="passForm.invalid">
      <i class="fa fa-refresh fa-solid"></i> Reset Password
    </button>
  </form>

  <div *ngIf="message" class="success"><i class="fa fa-check-circle fa-solid"></i> {{ message }}</div>
  <div *ngIf="error" class="error"><i class="fa fa-exclamation-circle fa-solid"></i> {{ error }}</div>
</div>
