<!-- src/app/components/address-list/addresslist.component.html -->
<div class="address-list-container">
  <h2>Shop Addresses</h2>

  <div *ngIf="addresses.length === 0" class="no-addresses">
    <p>No addresses found.</p>
    <button class="add-btn" (click)="addNewAddress()" title="Add New Address">
      ＋ Add New Address
    </button>
  </div>

  <div *ngFor="let address of addresses" class="address-card">
  <h4>
  {{ address.houseNumber }},
  {{ address.street }},
  {{ address.wardName }},
  {{ address.township }},
  {{ address.city }},
  {{ address.state }},
  {{ address.country }},
  {{ address.postalCode || 'N/A' }}
</h4>


    <div class="address-details">
      <p>
        <strong>House Number:</strong> {{ address.houseNumber }}<br>
        <strong>Street:</strong> {{ address.street }}<br>
        <strong>Ward:</strong> {{ address.wardName }}<br>
        <strong>Township:</strong> {{ address.township }}<br>
        <strong>City:</strong> {{ address.city }}<br>
        <strong>State:</strong> {{ address.state }}<br>
        <strong>Country:</strong> {{ address.country }}<br>
        <strong>Postal Code:</strong> {{ address.postalCode || 'N/A' }}
      </p>
    </div>

    <div class="address-map" id="map-{{ address.id }}"></div>

    <div class="card-actions">
      <button class="edit-btn" (click)="editAddress(address)" title="Edit Address">
        <i class="bi bi-pencil"></i> Edit
      </button>
      <button class="edit-btn" *ngIf="!address.mainAddress" (click)="markAsMain(address.id)" title="Set as main Address">
        <i class="bi bi-star"></i> Set as Main
      </button>
      <!-- <button class="add-btn" (click)="addNewAddress()" title="Add New Address">
        ＋
      </button> -->

       <button class="delete-btn" (click)="deleteAddress(address.id)" title="Delete Address">
    <i class="bi bi-trash"></i> Delete
  </button>
    </div>
  </div>
</div>