<h2 class="form-title">{{ isEdit ? "Edit" : "Create" }} Payment Register</h2>

<form
  [formGroup]="paymentForm"
  (ngSubmit)="submit()"
  enctype="multipart/form-data"
  novalidate
  class="payment-form"
>
  <!-- Name Field -->
  <label for="name" class="form-label">Name:</label>
  <input id="name" formControlName="name" class="form-input" />
  <div
    *ngIf="paymentForm.get('name')?.invalid && paymentForm.get('name')?.touched"
    class="error"
  >
    Name is required
  </div>

  <!-- Admin ID Field -->
  <label for="admin_id" class="form-label">Admin ID:</label>
  <input
    id="admin_id"
    type="number"
    formControlName="admin_id"
    class="form-input"
    readonly
  />

  <div
    *ngIf="
      paymentForm.get('admin_id')?.invalid &&
      paymentForm.get('admin_id')?.touched
    "
    class="error"
  >
    Admin ID must be a positive number
  </div>

  <!-- QR Code Upload -->
  <label for="qrPhotos" class="form-label">Upload QR Code Images:</label>
  <input
    id="qrPhotos"
    type="file"
    (change)="onFileChange($event)"
    multiple
    accept="image/*"
    class="file-input"
  />
  <div *ngIf="fileError" class="error">{{ fileError }}</div>

  <!-- Buttons -->
  <button
    type="submit"
    [disabled]="paymentForm.invalid || (!isEdit && selectedFiles.length === 0)"
    class="btn submit-btn"
  >
    {{ isEdit ? "Update" : "Create" }}
  </button>
  <button type="button" (click)="cancel()" class="btn cancel-btn">
    Cancel
  </button>
</form>
