<footer class="footer">
  <hr class="footer-divider" />
  <div class="footer-info-columns">
    <div class="footer-info-col">
      <div class="footer-info-header">Get started</div>
      <a routerLink="/customer-homepage" class="footer-info-link">Home</a>
      <a routerLink="/brititum" class="footer-info-link">What is Britium Gallery?</a>
    </div>
    <div class="footer-info-col">
      <div class="footer-info-header">Resources</div>
      <a routerLink="/bloglist" class="footer-info-link">Blogs</a>
      <a routerLink="/FAQList" class="footer-info-link">FAQ</a>
      <a routerLink="/contact" class="footer-info-link">Contact</a>
      
    </div>
    <div class="footer-info-col">
      <div class="footer-info-header">Policies</div>
      <a routerLink="/privacypolicyList" class="footer-info-link">Privacy Policy</a>
      <a routerLink="/shippinglist" class="footer-info-link">Shipping Information</a>
    </div>
    <div class="footer-info-col">
      <div class="footer-info-header">Company</div>
      <a routerLink="/shopmapview" class="footer-info-link">Find a Store</a>
      <a routerLink="/aboutlist" class="footer-info-link">About</a>
    </div>
  </div>
 
  <p >&copy; 2025 BritiumGallery. All rights reserved.</p>
</footer>