/* Make the page take full height and layout with flexbox */
html, body {
  height: 100%;
  margin: 0;
  background-color: rgb(255, 239, 219);
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 249, 243);
}

.content-wrap {
  flex: 1;
  padding: 1rem; /* Optional */
}


.custom-swal-close {
  width: 20px !important;
  height: 20px !important;
  font-size: 35px !important;
  line-height: 20px !important;
  top: 12px !important;
  right: 12px !important;
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  opacity: 0.7 !important;
  transition: opacity 0.2s ease;
}

.custom-swal-close:hover {
  opacity: 1 !important;
}
